<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Options</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .table-responsive {
            flex-grow: 1;
        }
        .thead-dark th {
            text-align: center;
        }
        .table td, .table th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Options for <span th:text="${product.name}"></span></h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="option : ${options}">
                <td th:text="${option.name}"></td>
                <td th:text="${option.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <a th:href="@{/products}" class="btn btn-primary">Back to Products</a>
    </div>
</div>
</body>
</html>