<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 수정</title>
    <link th:href="@{/add.css}" rel="stylesheet"/>

</head>
<body>
<form class="container" th:action="@{/edit}" th:object="${updateProductRequest}" method="post">
    <h1>상품 수정</h1>
    <!-- ID는 readonly 속성 수정 불가하게 -->
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{id}" readonly/><br/>

    <!-- 카테고리  -->
    <label for="category">Category:</label>
    <select id="category" th:field="*{categoryId}">
        <option th:each="category : ${categories}" th:value="${category.id}"
                th:text="${category.name}" th:selected="${category.id == updateProductRequest.categoryId}"></option>
    </select><br/><br/>

    <!--그 외 값들-->
    <label style="color: #888">Current Name: <span th:text="${updateProductRequest.name}" style="color: #888;"></span></label>
    <label for="name">New Name:</label>
    <input type="text" id="name" th:field="*{name}" required/><br/>

    <label style="color: #888">Current Price: <span th:text="${updateProductRequest.price}" style="color: #888;"></span></label>
    <label for="price">New Price:</label>
    <input type="text" id="price" th:field="*{price}" required/><br/>

    <label style="color: #888">Current Image URL: <span th:text="${updateProductRequest.imageUrl}"></span></label>
    <label for="imageUrl">New Image URL:</label>
    <input type="text" id="imageUrl" th:field="*{imageUrl}" required/><br/>

    <button type="submit">수정</button>
</form>
</body>
</html>
