<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 추가</title>
</head>
<body>
<h1>상품 추가</h1>
<form th:action="@{/api/products}" method="post">
    <p>
        <label for="optionName">상품명:</label>
        <input type="text" id="optionName" optionName="optionName" th:field="*{optionName}" required>
    </p>
    <p>
        <label for="price">가격:</label>
        <input type="number" id="price" optionName="price" th:field="*{price}" required>
    </p>
    <p>
        <label for="imageUrl">이미지 URL:</label>
        <input type="text" id="imageUrl" optionName="imageUrl" th:field="*{imgUrl}" required>
    </p>
    <p>
        <label for="category">카테고리:</label>
        <select id="category" optionName="categoryId" th:field="*{categoryId}">
            <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.optionName}"></option>
        </select>
    </p>
    <p>
        <button type="submit">상품 추가</button>
    </p>
</form>
<br>
<button class="btn btn-warning" th:onclick="|location.href='/admin/products';|">목록으로 돌아가기</button>
</body>
</html>